@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;1,400&display=swap");
@import "tailwindcss";

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
  background: #fff;
}

.font-instrument-serif {
  font-family: "Instrument Serif", serif;
}

